{% extends 'base.html' %}

{% block content %}
<div class="body-login">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        Añadir auto
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ autos_form.as_p }}
                            {{ fotos_form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block">Agregar Auto </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
