{% extends 'base.html' %}
{% block content %}
<div class="body-login">
    <!-- Contenedor de la tarjeta del auto -->
    <div class="container mt-4">
        <div class="card">
            <!-- Sección para las fotos normales -->
            <div id="fotosNormales" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                {% for foto in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ foto.path_foto.url }}" class="d-block w-100" alt="Foto Normal">
                    </div>
                {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#fotosNormales" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#fotosNormales" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Sección para la imagen 360 -->
            <div class="container">
                <div class="row">
                    {% for foto in images_360 %}
                        <div class="col-md-6">
                            <iframe
                                allowfullscreen="true"
                                frameborder="0"
                                height="500"
                                width="100%"
                                srcdoc='
                                <html>
                                    <head>
                                        <meta charset="utf-8">
                                        <title>360&deg; Image</title>
                                        <meta name="description" content="360&deg; Image - A-Frame">
                                        <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
                                    </head>
                                    <body>
                                        <a-scene>
                                            <a-sky src="{{ foto.path_foto.url }}" rotation="0 -130 0" fov="80"></a-sky>
                                        </a-scene>
                                    </body>
                                </html>'>
                            </iframe>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Información general del auto -->
            <div class="card-body">
                {% if request.user.administrador %}
                    <a href="{% url 'modcar' %}" class="btn btn-primary btn-lg">Modificar autos</a>
                {% endif %}
                <h3 class="card-title">{{auto.marca}} {{ auto.modelo }}</h5>
                <p class="card-text">{{ auto.descripcion }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Año: {{auto.ano}}</li>
                    <li class="list-group-item">Precio: <span id="precio">{{auto.precio}}</span></li>
                    <li class="list-group-item">Combustible: {{ auto.get_tipo_gasolina_display }}</li>
                    <li class="list-group-item">Motor: {{ auto.get_motor_display }}</li>
                    <li class="list-group-item">Transmisión: 
                        {% if auto.transmision %}
                            Manual
                        {% else %}
                            Automático
                        {% endif %}
                    </li> <!--True = Manual-->
                    <li class="list-group-item">Volante:
                        {% if auto.cambio_volante %}
                            Cambiado
                        {% else %}
                            Original
                        {% endif %}
                    </li> <!---Original|Cambiado-->
                    <li class="list-group-item color-{{ auto.color }}">Color: {{ auto.get_color_display }}</li>
                    <li class="list-group-item">Tipo: {{ auto.get_tipo_auto_display }}</li>
                    <li class="list-group-item">Numero de asientos: {{ auto.numero_asientos }}</li>
                    <!-- Agrega más elementos de la lista según sea necesario -->
                </ul>
            </div>
        </div>
    </div>
</div>


<script>
  // Supongamos que auto.precio es una cadena que representa un número, conviértelo a número
  var precio = parseFloat("{{auto.precio}}");

  // Verificar si la conversión fue exitosa antes de formatear
  if (!isNaN(precio)) {
    // Formatear el número como dinero en pesos chilenos utilizando toLocaleString
    var precioFormateado = precio.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' });

    // Colocar el precio formateado en el elemento span con id "precio"
    document.getElementById("precio").innerText = precioFormateado;
  } else {
    // Manejar el caso en el que la conversión no fue exitosa
    console.error("El valor de auto.precio no es un número válido.");
  }
</script>


{% endblock %}