{% extends 'base.html' %}

{% block content %}

<div class="body-login">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Admin
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'update_admin' %}">
                            {% csrf_token %}
                            <label for="user_select">Seleccionar usuario:</label>
                            <select name="user_select" id="user_select">
                                {% for usuario in usuarios %}
                                    <option value="{{ usuario.id }}">{{ usuario.username }}</option>
                                {% endfor %}
                            </select>
                            <label for="admin_checkbox">Admin:</label>
                            <input type="checkbox" name="admin_checkbox" id="admin_checkbox">
                            <button type="submit">Actualizar Administrador</button>
                        </form>

                        <div id="user_details">
                            <!-- Aquí se mostrarán los detalles del usuario -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('user_select').addEventListener('change', function() {
    var userId = this.value;
    var adminCheckbox = document.getElementById('admin_checkbox');
    var userDetailsDiv = document.getElementById('user_details');
    
    // Realizar una solicitud AJAX para obtener los detalles del usuario seleccionado
    // Asegúrate de ajustar la URL según tu configuración
    var url = '/get_user_details/' + userId + '/';
    
    fetch(url)
        .then(response => response.json())
        .then(data => {
            // Marcar o desmarcar el checkbox según el estado del administrador
            adminCheckbox.checked = data.administrador;

            // Mostrar los detalles del usuario
            userDetailsDiv.innerHTML = '<p><strong>Nombre:</strong> ' + data.nombre + '</p>' +
                                       '<p><strong>Edad:</strong> ' + data.edad + '</p>' +
                                       '<p><strong>Sexo:</strong> ' + data.sexo + '</p>' +
                                       '<p><strong>Email:</strong> ' + data.email + '</p>';
        });
});
</script>

{% endblock %}