{% extends 'base.html' %}
{% block content %}
<div class="body-login">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>Notificaciones de Autos</h1>
                    </div>
                    <form method="post" action="{% url 'notificacion_admin' %}">
                        {% csrf_token %}
                        {% for auto in autos_con_notificaciones %}
                            <div class="mb-3 d-flex">
                                <div>
                                    <h5>{{ auto.marca }} {{ auto.modelo }}</h5>
                                </div>
                                <div class="ml-auto">
                                    <input type="hidden" name="auto_id" value="{{ auto.pk }}">
                                    <button type="submit" class="btn btn-primary">Notificar</button>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}