{% extends 'base.html' %}

{% block content %}

<div class="body-login">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Hitech
                    </div>
                    <div class="card-body">
                        <h1>Misión</h1>
                        <p>En Hi-tech, quiere brindar a sus clientes en Chile acceso a una amplia gama de vehículos usados de alta calidad, importados desde diversas partes del mundo. Ellos se esfuerzan en ofrecer a sus clientes opciones de compra confiable y asequibles, respaldadas por un buen servicio. </p>
                        <h1>Visión</h1>
                        <p>En Hi-tech,quiere es liderar la venta de vehículos usados en Chile, convirtiéndose en un referente destacado en la exportación de autos que cuiden el medio ambiente. Ellos quieren ser reconocidos como un actor clave en la promoción de la movilidad sostenible y la reducción de la huella ambiental. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
